# LIST IN LIST

In [1]:
a = [1,2,3,4,5,6]
b = [23,45,67,89]
c = [78,86,a,b]
print(c)

[78, 86, [1, 2, 3, 4, 5, 6], [23, 45, 67, 89]]

In [9]:
del c[2][4:10]
print(c)

[78, 86, [1, 2, 3, 4, 4], [23, 45, 89]]

# TUPPLE IN LIST

In [10]:
a = ('hasan' , 'ahmed' , 'bilal' , 'hamza')
b = ['faizan' , 'maaz' , a]
print(b)

['faizan', 'maaz', ('hasan', 'ahmed', 'bilal', 'hamza')]

# DICTIONARY IN LIST

In [12]:
dic = {'ali' , 'ayub' , 'aliyan' , 1 , 2 , 3 }
b = ['mazhar' , 'memon' , a]
print(b)

['mazhar', 'memon', ('hasan', 'ahmed', 'bilal', 'hamza')]

# TUPPLE IN TUPPLE

In [1]:
win = ("gayle" , "pooran" , "hetmyer" , "holder")
cric = ("babar" , "amir" , win)
print(cric)

('babar', 'amir', ('gayle', 'pooran', 'hetmyer', 'holder'))

# LIST IN TUPPLE

In [3]:
pak = ["parchi" , "fakhar" , "class" , "professer"]
best = ("wahab" , "shaheen" , pak)
print(best)

('wahab', 'shaheen', ['parchi', 'fakhar', 'class', 'professer'])

# DICTIONARY IN TUPPLE

In [5]:
dic = {1 , 2 , 3 , 4}
tup = (11 , 22 , 33 , dic)
print(tup)

(11, 22, 33, {1, 2, 3, 4})

# DICTIONARY IN DICTIONARY

In [21]:
alpha = {"name":"Hasan", "age":18 , "qualification":{"matric":"D.MADINAH" , "inter":"govt col formen"} }
print(alpha)

{'name': 'Hasan', 'age': 18, 'qualification': {'matric': 'D.MADINAH', 'inter': 'govt col formen'}}

# LIST IN DICTIONARY

In [22]:
dict = {"tip":"get drink" , "picnic":"2k19" , "trip":"full enjoyement" , "friends":["fahad" , "amir" , "asad"] }
print(dict)

{'tip': 'get drink', 'picnic': '2k19', 'trip': 'full enjoyement', 'friends': ['fahad', 'amir', 'asad']}

# TUPPLE IN DICTIONARY

In [27]:
tup_in_dic = {"list":"list" , "tup":"list" , "dic":"list" , "dict":("tup" , "list" , "dic") }
print(tup_in_dic)

{'list': 'list', 'tup': 'list', 'dic': 'list', 'dict': ('tup', 'list', 'dic')}